@{
    ViewBag.Title = "Контакты";
}
<h2>Контакты</h2>


<address>
    <b>Адрес</b>: 603950, г. Нижний Новгород, ул. Минина, 24<br />
    <b>Телефон:</b>
    <abbr title="Phone">+7(831) 436-73-43</abbr>
   
</address>

<address>
    <strong>Почта</strong>   <a href="n987085904@yandex.ru">n987085904@yandex.ru</a><br />
    
</address>