@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">лабораторная работа №2</p>
    <h1>Выполнил:Коряков Никита 18-В-2</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Вариант_5</h2>
        <p>
            Реализовать веб-сайт со следующими страницами:<br />
            •	страница для добавления/удаления ссылок;<br />
            •	страница для просмотра и перехода по ссылкам;<br />
            •	контакты предприятия;<br />
            •	Хранилище реализовать в памяти с ограничением в 50 записей.<br />
            •	Должны быть реализованы кнопки навигации и взаимодействия с пользователем.<br />
            •	Должно быть реализовано интерактивное взаимодействие с пользователем.<br />

        </p>
    </div>
</div>